node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs
*.log
logs/*
npm-debug.log*
yarn-debug.log*
pm2.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.sublime-workspace

# Dependencies
package-lock.json
yarn.lock

# Build artifacts
dist/
build/

# Miscellaneous
coverage/
*.pid
*.seed
*.pid.lock

